@import "ember-bootstrap/bootstrap";

.card {
  border: 2px solid grey;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
}

.cards {
  float: left;
  text-align: center;
}

img {
  width: 150px;
}
